<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>DeUniv Cache</title>
        <script src="../styles/styles.css"></script>
        <script src="../styles/content.css"></script>
        <script src="content.js" type="module"></script>
        <script src="https://unpkg.com/mhtml2html@<VERSION>" type="javascript"> </script>       
    </head>
    <body>
        <div class="deuniv">
            <h3>DeUniv Cache Functions</h3>
        </div>
        <section id="content">
            <form id="cache-controller" class="controller-container">
                <div class="controller">
                    <label class="controller-input">
                        <span>Cache Current Tab</span>
                        <input id="as-pdf" type="checkbox" checked="false">
                    </label>
                </div>
                <div class="controller-actions">
                    <label class="controller-input">
                        <button id="cache-current-button">Save as PDF</button>
                    </label>
                </div>
                <div class="controller">
                    <label class="controller-input">
                        <span>Cache a Paper By URL</span>
                        <input id="remote-url-input" type="text" name="url" placeholder="Enter a URL">
                    </label>
                    <label class="controller-input">
                        <span>Cache a Paper By URL</span>
                        <input id="as-pdf-remote" type="checkbox" checked="false"> 
                    </label>
                </div>
                <div class="controller-actions">
                    <label class="controller-input">
                        <button id="cache-remote-button">Save as PDF</button>
                    </label>
                </div>
            </form>
        </section>
        <section>
            <h3>Cache</h3>
            <div>Original page: <a id="url" target="_blank"></a></div>
            <div>Saved <span id="span"></span> ago - <span id="date"></span></div>
        </section>
        <footer class="deuniv">
            <h3>DeUniv</h3>
            <div class="footer-links">
                <!-- <img /> -->
                <a href="">
                    <b>Join Our Discord!</b>
                </a>
            </div>
        </footer>
    </body>
</html>