
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DeUniv Cache</title>
    <style>
      body {
        min-width: 320px;
      }
    </style>
  </head>
  <body>
		<h3>Cache Settings</h3>
		<form id="options-form" class="detail-view-container">
			<h3>Defaults</h3>
			<div class="default-options">
				<label class="default-input">
					<span>Cache as PDF?</span>
					<input id="as-pdf-default" type="checkbox" checked="false">
				</label>
				<label class="default-input">
					<span>Theme<span>
					<input id="as-pdf-default" type="checkbox" checked="false"> 
				</label>
				<label class="default-input">
					<button class="default-submit" id="default-button"></button>
				</label>
			</div>
		</form>
		<footer class="deuniv-footer">
			<h3>DeUniv</h3>
			<div>
				<a class="discord" href="">
					<b>Join Our Discord!</b>
				</a>
			</div>
		</footer>
	</body>
</html>
<script src="options.js" type="module"></script>
